/*****************************/
/* Root                      */
/* Typography                */
/* Containers                */
/* Home                      */
/*     Intro                 */
/*     About Me / Skills     */
/*     Call to Action        */
/*     Work Experience       */
/*     Portfolio             */
/* Footer                    */
/*     Copyright             */
/* Scroll to Top             */
/* Blog                      */
/*     Articles              */
/*                           */
/*****************************/


:root {
    --white-blue-color: rgb(235,240,255);
    --white-perl-color: rgb(195,200,215);
    --bright-blue-color: rgb(10,210,250);
    --bright-green-color: rgb(10,250,210);
    --yellow-color: #FBBA00;
    --blue-dark-color: #003366;
    --blue-primary: #0d6efd;
    --line-height: 40px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 1%;
    font-size: 100%;
    scroll-behavior: smooth;
}

/*****************************/
/* Typography                */
/*****************************/

.wordwrap {
    /* wrap long text and urls */
    /*white-space: pre; !* CSS 2.0 *!*/
    /*white-space: pre-wrap; !* CSS 2.1 *!*/
    /*white-space: pre-line; !* CSS 3.0 *!*/
    /*white-space: -pre-wrap; !* Opera 4-6 *!*/
    /*white-space: -o-pre-wrap; !* Opera 7 *!*/
    /*white-space: -moz-pre-wrap; !* Mozilla *!*/
    /*word-wrap: break-word; !* IE 5+ *!*/
    overflow-wrap: anywhere;
}

h1, h2, h3, h4 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    padding: 0.5%;
    color: var(--blue-primary);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
    margin: 2% 0 0 0.5%;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    /*line-height: 1.4rem;*/
    text-align: left;
    padding: 0.1%;
}

.btn-index {
    width: 100px;
}

/*.btn-index:hover {*/
/*    color: var(--white-perl-color);*/
/*}*/

/*****************************/
/* Containers                */
/*****************************/

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.row, .row-cols-auto {
    width: 100%;
}













/* Responsive containers */
@media (min-width: 2160px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 2000px;
    }
}

/*@media (max-width: 1000px) {*/

/*    .container-flex-w70,*/
/*    .container-flex-w80 {*/
/*        width: 90%;*/
/*        height: 90%;*/
/*    }*/

/*    .box-width-25,*/
/*    .box-width-33,*/
/*    .box-width-40 {*/
/*        width: 100%;*/
/*        flex: 100%;*/
/*   }*/

/*    .box-padd-r-15 {*/
/*        padding-right: 0;*/
/*    }*/
/*}*/

/*@media (max-width: 700px) {*/

/*    .box-width-50 {*/
/*        width: 100%*/
/*    }*/
/*}*/


.list-column-5 {
    /*padding: 0.5%;*/
    width: 5%
}

.list-column-6 {
    /*padding: 0.5%;*/
    width: 6%
}

.list-column-7 {
    /*padding: 0.5%;*/
    width: 7%
}

.list-column-10 {
    padding: 0.5%;
    width: 10%
}

.list-column-15 {
    /*padding: 0.5%;*/
    width: 15%
}

.list-column-30 {
    /*padding: 0.5%;*/
    width: 30%
}

.list-column-45 {
    /*padding: 0.5%;*/
    width: 45%
}

.list-column-50 {
    /*padding: 0.5%;*/
    width: 50%
}


.list-group {
    padding: 0;
}

.list-group-item {
    background: transparent;
    color: var(--bright-blue-color);
}



/*****************************/
/* Scroll to Top             */
/*****************************/

.gototop {
  position: fixed;
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border: none;
  background-color: var(--blue-dark-color);
  border-radius: 3px;
  bottom: 40px;
  right: 40px;
  margin-right: -30px;
  outline: none;
  opacity: 0;
  transition: opacity .3s ease, margin-right .5s ease-out;
}

.gototop.show {
  transition: opacity .3s ease, margin-right .5s ease-out;
  margin-right: 0;
  opacity: .2;
}

.gototop.show:hover {
  transition: opacity .3s ease;
  opacity: .8;
}

.gototop::before, .gototop::after {
    content: '';
    position: absolute;
    height: 18px;
    width: 4px;
    background-color: #fff;
    top: 16px;
    border-radius: 3px;
}

.gototop::before {
  left: 18px;
  transform: rotate(45deg);
}

.gototop::after {
  right: 18px;
  transform: rotate(-45deg);
}

